.historia, .skills {
    width: 90%; /* Ajuste a largura para caber melhor na tela */
    margin-bottom: 20px; /* Espaço entre os itens */
}

.skills ul {
    justify-content: center; /* Centraliza a lista de tecnologias */
}